<template>
 <q-page>
<q-card>
<q-card-section>
<div class="row">
<div class="col-2">
<q-img src="statics/Veleri-OI_IoT_School-Logo.png" />
</div>

<div class="col-10 text-center">
<div class="text-h6">International Education Program Veleri-OI IoT School</div>
<div class="text-h6 text-grey">
Case study of the IoT project "Cov protect System"
</div>
</div>
</div>
</q-card-section>
<q-card-section>
<!-- <GmapMap
:center="center"
:zoom="7"
map-type-id="terrain"
style="width: 100%; height: 700px"
>
<GmapInfoWindow
:options="infoOptions"
:position="infoWindowPosition"
:opened="infoWindowOpen"
@closeclick="infoWindowOpen=false"
>
<span v-html="infoWindowContent"></span>
</GmapInfoWindow>
<GmapMarker
:key="index"
v-for="(marker, index) in markers"
:position="marker.position"
:clickable="true"
@click="showInfoWindow(marker, index)"
/>
</GmapMap> -->
<GmapMap
  :center="{lat:45.81471541957589, lng:15.971536111697286}"
  :zoom="7"
  map-type-id="terrain"
  style="width: 100%; height: 700px"
>
  <GmapMarker
    :key="index"
    v-for="(m, index) in markers"
    :position="m.position"
    :clickable="true"
    :draggable="true"
    @click="openDescription(m.UidStation)"
  />
</GmapMap>
</q-card-section>
</q-card>
<!-- <q-dialog
v-if="openMeteoStationDescriptionDialog"
v-model="openMeteoStationDescriptionDialog"
>
<q-card class="q-dialog-plugin">
<q-card-section>
<div class="text-h6">
{{this.currentStation.name}}
</div>
</q-card-section>
<q-separator />
<q-card-section>
{{this.currentStation.description}}
</q-card-section>
<q-card-section>
{{this.currentStation.location}}
</q-card-section>
<q-card-actions align="right">
<q-btn
color="primary"
label="OK"
@click="openMeteoStationDescriptionDialog = false"
/>

</q-card-actions>
</q-card>
</q-dialog> -->
<q-dialog
  full-width
      v-if="openMeteoStationDescriptionDialog"
      v-model="openMeteoStationDescriptionDialog"

    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Readings
            <div class="text-subtitle2">Station: {{this.currentStation.name}}</div>
            <div class="text-subtitle2">Description: {{this.currentStation.description}}</div>
            <div class="text-subtitle2">Description: {{this.currentStation.location}}</div>
            <!-- <div
              class="text-subtitle2"
              v-if="currentMeteoStationSensor.sensor !== null"
            >
              Type: {{currentMeteoStationSensor.sensor.type}}</div> -->
          </div>
        </q-card-section>
        <q-separator />
        <div style="display:flex; flex-direction:row; justify-content: space-evenly"> <q-card-section>
          <LineChart
            :chartData="chartData"
          ></LineChart>
        </q-card-section>
        <q-card-section>
          <PieChart
            :pieChartData="pieChartData"
          ></PieChart>
        </q-card-section></div>

        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="Close"
            @click="closeDescription"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
</q-page>
</template>
<script>
import LineChart from "../LineChart.js";
import PieChart from "../PieChart.js";
export default {
  name: "WelcomePageIndex",
  data () {
    return {
      chartData: {
        labels: [],
        datasets: []
      },
      pieChartData: {
        labels: [],
        datasets: []
      },
      readingsForStation: [],
      // updateChart: true,
      // readingsListener: null,
      // currentUIDMeteoStationSensor: null,
      // openReadingsDialog: false,
      stations: [],
      currentStation:null,
      // infoWindowContent: "",
      // infoWindowPosition: null,
      // infoWindowOpen: false,
      // currentMarkerIndex: null,
      // // optional: offset infowindow so it visually sits nicely on top of our marker
      // infoOptions: {
      //   pixelOffset: {
      //     width: 0,
      //     height: -35
      //   }
      // },
      center: null,
      markers: [],
      // meteoStationListener: null,
      // meteoStationSensorListeners: [],
      // currentReadingListener: null,
      // meteoStations: [],
      // meteoStationSensors: [],
      // currentReadings: [],
      // currentOpenedMarker: null,
      // currentUidStation: null,
      openMeteoStationDescriptionDialog: false,
      allReadings: []
    };
  },
  components: {
    LineChart,
    PieChart
  },

  computed: {
    /*  currentMeteoStation: function () {
      if (this.currentUidStation === null) return null;
      return this.meteoStations.find(meteoStation => meteoStation.UidStation === this.currentUidStation);
    }, */
    /* currentMeteoStationSensor: function () {
      if (this.currentUidStation === null || this.currentUidStationSensor === null) return null;
      return this.meteoStationSensors.find(meteoStationSensor => meteoStationSensor.UidStation === this.currentUidStation && meteoStationSensor.UidStationSensor === this.currentUidStationSensor);
    } */
  },
  mounted () {
    this.refreshStations();
    this.getReadings();
    /* this.chartData = {
      labels: ["January", "February"],
      datasets: [
        {
          label: "Data One",
          backgroundColor: "#f87979",
          data: [40, 20]
        }
      ]
    }; */
    /*
    let vm = this;
    window.openDescription = function (UidStation) {
      vm.openDescription(UidStation);
    };
    this.meteoStationListener = this.$db.collection("stations").onSnapshot((stationsSnapshot) => {
      stationsSnapshot.docChanges().forEach(change => {
        if (change.doc.data().UidStation !== null) {
          this.meteoStationSensorListeners.push(
            this.$db.collection("stations").doc(change.doc.data().UidStation).collection("readings").onSnapshot((meteoStationSensorSnapshot) => {
              meteoStationSensorSnapshot.docChanges().forEach(change => {
                if (change.doc.data().UidStationSensor !== null) {
                  let index = this.meteoStationSensors.findIndex(meteoStationSensor => meteoStationSensor.UidStationSensor === change.doc.data().UidStationSensor);
                  if (index < 0) {
                    this.meteoStationSensors.push(change.doc.data());
                  } else {
                    this.meteoStationSensors.splice(index, 1, change.doc.data());
                  }
                  this.setInfoWindowContent(change.doc.data().UidStation);
                }
              });
            })
          );
          let index = this.meteoStations.findIndex(meteoStation => meteoStation.UidStation === change.doc.data().UidStation);
          if (index < 0) {
            this.meteoStations.push(change.doc.data());
          } else {
            this.meteoStations.splice(index, 1, change.doc.data());
          }
          console.log(change.doc.data());
          if (change.doc.data().geoPoint.Latitude !== null && change.doc.data().geoPoint.Longitude !== null) {
            index = this.markers.findIndex(marker => marker.UidStation === change.doc.data().UidStation);
            let marker = {
              UidStation: change.doc.data().UidStation,
              position: { lat: change.doc.data().geoPoint.Latitude, lng: change.doc.data().geoPoint.Longitude }
            };
            if (index < 0) {
              this.markers.push(marker);
              if (this.markers.length === 1) {
                this.center = marker.position;
              }
            } else {
              if (index === 0) {
                this.center = marker.position;
              }
              this.markers.splice(index, 1, marker);
            }
          }
          this.setInfoWindowContent(change.doc.data().UidStation);
        }
      });
    });
    this.currentReadingListener = this.$db.collection("reading").onSnapshot((readingSnapshot) => {
      readingSnapshot.docChanges().forEach(change => {
        let index = this.currentReadings.findIndex(currentReading => currentReading.UidStation === change.doc.data().UidStation && currentReading.UidStationSensor === change.doc.data().UidStationSensor);
        if (index < 0) {
          let date = new Date(0);
          date.setSeconds(change.doc.data().readingDateTime.seconds);
          let localeDateString = date.toLocaleDateString();
          let localeTimeString = date.toLocaleTimeString();
          let currentReading = change.doc.data();
          currentReading["localeDateString"] = localeDateString;
          currentReading["localeTimeString"] = localeTimeString;
          this.currentReadings.push(currentReading);
        } else {
          let date1 = new Date(0);
          date1.setSeconds(this.currentReadings[index].readingDateTime.seconds);
          let date2 = new Date(0);
          date2.setSeconds(change.doc.data().readingDateTime.seconds);
          if (date1 < date2) {
            let localeDateString = date2.toLocaleDateString();
            let localeTimeString = date2.toLocaleTimeString();
            let currentReading = change.doc.data();
            currentReading["localeDateString"] = localeDateString;
            currentReading["localeTimeString"] = localeTimeString;
            this.currentReadings.splice(index, 1, currentReading);
          }
        }
        this.setInfoWindowContent(change.doc.data().UidStation);
      });
      console.log(this.currentReadings);
    }); */
  },
  destroyed () {
    /* if (this.meteoStationListener !== null) {
      this.meteoStationListener();
    }
    this.meteoStationSensorListeners.forEach(meteoStationSensorListener => {
      if (meteoStationSensorListener !== null) {
        meteoStationSensorListener();
      }
    });
    if (this.currentReadingListener !== null) {
      this.currentReadingListener();
    } */
  },
  methods: {
    closeDescription () {
      /* if (this.readingsListener !== null) {
        this.readingsListener()
      } */
      this.openMeteoStationDescriptionDialog = false;
    },
    refreshStations(){
      this.stations = [];
      this.markers =[];
      let collectionRef = this.$db.collection("stations");
      collectionRef.get()
        .then((stations) => {
          stations.forEach(async (station) => {

            // console.log(station.id);
            let stationFromDB = station.data();
            stationFromDB.id = station.id;

            this.stations.push(stationFromDB);
            let marker ={};
            marker.UidStation = stationFromDB.id;
            marker.position = {};
            marker.position.lat = stationFromDB.geoPoint.x_;
            marker.position.lng = stationFromDB.geoPoint.N_;
            /* let marker = {
              UidStation: stationFromDB.id,
              position: { lat: stationFromDB.geoPoint.x_, lng: stationFromDB.geoPoint.N_ }
            }; */
            //console.log(marker.position);
            this.markers.push(marker);

          });
          //this.isMounted = true;
          this.markers = JSON.parse(JSON.stringify(this.markers));
        }
        );
    },
    getReadings() {
      this.readings = [];
      //this.markers =[];
      let collectionRef = this.$db.collection("readings");
      collectionRef.get()
        .then((readings) => {
          readings.forEach(async (reading) => {

            // console.log(station.id);
            let readingFromDB = reading.data();
            // stationFromDB.id = station.id;

            // this.stations.push(stationFromDB);
            // let marker ={};
            // marker.UidStation = stationFromDB.id;
            // marker.position = {};
            // marker.position.lat = stationFromDB.geoPoint.x_;
            // marker.position.lng = stationFromDB.geoPoint.N_;
            /* let marker = {
              UidStation: stationFromDB.id,
              position: { lat: stationFromDB.geoPoint.x_, lng: stationFromDB.geoPoint.N_ }
            }; */
            //console.log(marker.position);
            // this.markers.push(marker);
            this.readings.push(readingFromDB);
          });
          //this.isMounted = true;
          //this.markers = JSON.parse(JSON.stringify(this.markers));
        }
        );
    },

    /*
    setInfoWindowContent (UidStation) {
      this.currentMeteoStation = this.meteoStations.find(meteoStation => meteoStation.UidStation === UidStation);
      this.currentUidStation = UidStation;
      if (this.currentOpenedMarker !== null && this.currentOpenedMarker.UidStation === UidStation) {
        let windowContent = "";
        let index = this.meteoStations.findIndex(meteoStation => meteoStation.UidStation === UidStation);
        if (index >= 0) {
          windowContent = "<strong>" + this.meteoStations[index].name + "</strong>";
          if (this.meteoStations[index].urlImage !== null) {
            windowContent = windowContent + "<br><img height=\"100\" width=\"100\" src=\"" + this.meteoStations[index].urlImage + "\" alt=\"Meteo station image\">";
          }
          windowContent = windowContent + "<br><button onclick=\"openDescription('" + UidStation + "')\">Description</button>";
        }
        const meteoStationSensors = this.meteoStationSensors.filter(meteoStationSensor => meteoStationSensor.UidStation === UidStation);
        if (meteoStationSensors.length > 0) {
          windowContent = windowContent + "<hr>";
        }
        meteoStationSensors.forEach(meteoStationSensor => {
          windowContent = windowContent + "<p><button onclick=\"openReadings('" + UidStation + "', '" + meteoStationSensor.UidStationSensor + "')\">...</button>" + meteoStationSensor.description;
          const currentReading = this.currentReadings.filter(currentReading => currentReading.UidStation === UidStation && currentReading.UidStationSensor === meteoStationSensor.UidStationSensor);
          if (currentReading.length > 0) {
            let textColor = "green";
            if ((meteoStationSensor.lowerLimit !== null && currentReading[0].value < meteoStationSensor.lowerLimit) || (meteoStationSensor.upperLimit !== null && currentReading[0].value > meteoStationSensor.upperLimit)) {
              textColor = "red";
            }
            windowContent = windowContent + ": <span style=\"color: " + textColor + "\">" + currentReading[0].value + meteoStationSensor.sensor.unitOfMeasure + "</span>[" + currentReading[0].localeDateString + " " + currentReading[0].localeTimeString + "]";
          }
          windowContent = windowContent + "</p>";
        });

        this.infoWindowContent = windowContent;
      }
    },*/
    openDescription (UidStation) {
      this.currentStation = this.stations.find((st)=> {
        return st.UidStation === UidStation;
      });
      this.readingsForStation = this.readings.filter((reading)=>{
        return reading.stationId === UidStation;
      });

      this.readingsForStation.sort((a, b) => {return a.timeStamp.seconds - b.timeStamp.seconds; });
      this.chartData = {
        labels: [],
        datasets: [
          {
            label: "Temperatures",
            backgroundColor: "#f87979",
            data:[]
          }
        ]
      };

      let hasMask = [];
      let hasNoMask = [];
      this.readingsForStation.forEach((reading)=>{
        if (reading.maskDetected) {
          hasMask.push(reading);
        } else {
          hasNoMask.push(reading);
        }
      });
      console.log(hasMask.length);
      console.log(hasNoMask.length);

      this.pieChartData = {
        labels: ["Has mask", "Has no Mask"],
        datasets: [
          {
            label: "Mask",
            backgroundColor: ["#41B883", "#E46651"],
            data:[hasMask.length, hasNoMask.length]
          }
        ]
      };

      /* this.chartData = {
      labels: ["January", "February"],
      datasets: [
        {
          label: "Data One",
          backgroundColor: "#f87979",
          data: [40, 20]
        }
      ]
    }; */



      this.readingsForStation.forEach((reading)=> {
        this.chartData.datasets[0].data.push(reading.temperature);
        var t = new Date(1970, 0, 1); // Epoch
        t.setSeconds(reading.timeStamp.seconds);
        this.chartData.labels.push((t.toLocaleString("en-GB")));
      });


      /* chartData: {
        labels: [],
        datasets: []
      }, */

      //if (typeof this.currentMeteoStation !== "undefined") {
      this.openMeteoStationDescriptionDialog = true;
      //}
      //console.log(this.currentStation);
    },
    /*showInfoWindow (marker, index) {
      console.log("showInfoWindow");
      this.currentOpenedMarker = marker;
      this.infoWindowPosition = marker.position;
      // this.infoWindowContent = marker.infoText
      this.setInfoWindowContent(marker.UidStation);
      // check if its the same marker that was selected if yes toggle
      if (this.currentMarkerIndex === index) {
        this.infoWindowOpen = !this.infoWindowOpen;
      } else {
        // if different marker set infowindow to open and reset current marker index
        this.infoWindowOpen = true;
        this.currentMarkerIndex = index;
      }
    },

      openReadings(UidStation,UidStationSensor){
      this.currentUidStationSensor=UidStationSensor;
      this.readings=[];

      this.chartData={
        labels:[],
        datasets:[
          {
            label:"Readings",
            data:[]
          }
        ]
      };
      this.readingsListener=this.$db.collection("reading")
        .where("UidStation","==",UidStation)
        .where("UidStationSensor","==",UidStationSensor)
        .orderBy("readingDateTime")
        .onSnapshot((readingSnapshot)=>{
          readingSnapshot.docChanges().forEach(change=>{
            if(typeof change.doc.data().UIDReading !== "undefined" && change.doc.data().UIDReading!==null){
              const date=new Date(0);
              date.setSeconds(change.doc.data().readingDateTime.seconds);
              const localeDateString=date.toLocaleDateString();
              const localeTimeString=date.toLocaleTimeString();
              const reading=change.doc.data();
              reading.localeDateString=localeDateString;
              reading.localeTimeString=localeTimeString;
              this.chartData.labels.push(localeDateString+"["+localeTimeString+"]");
              this.chartData.datasets[0].data.push(reading.value);
            }
          });
          this.updateChart=!this.updateChart;
        });
      this.openReadingsDialog=true;
    },
    closeReadings(){
      if(this.readingsListener!==null){
        this.readingsListener();
      }
      this.openReadingsDialog=false;
    } */
  }
};
</script>


