<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"

    >
      <q-table
        v-if="isMounted"
        title="Sensors"
        :data="readings"
        :columns="columns"
        row-key="UIDSensor"
        :pagination.sync="pagination"
        flat
      >
        <template v-slot:top>
          <q-btn
            color="primary"
            label="Add reading"
            @click="onNewRow"
          />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name==='actions'">
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{props.row[props.col.field]}}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Reading
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
         <!--  <q-input
            ref="Type"
            :error="!reading.doorOpened || reading.type.length === 0"
            error-message="Type is required."
            label="Type"
            v-model="reading.type"
          /> -->
          <!-- <q-input
            ref="Unit Of Measure"
            :error="!sensor.unitOfMeasure || sensor.type.unitOfMeasure === 0"
            error-message="Unit of measure is required."
            label="Unit Of Measure"
            v-model="sensor.unitOfMeasure"
          /> -->
          <q-checkbox v-model="reading.alarmTriggered" label="Alarm triggered" />
          <q-checkbox v-model="reading.doorOpened" label="Door opened" />
          <q-checkbox v-model="reading.maskDetected" label="Mask detected" />
          <q-input
            ref="temperature"
            type="number"
            :error="!reading.temperature"
            error-message="Temperature is required"
            label="Temperature"
            v-model="reading.temperature"
          />
          <q-select ref="stationId"   :error="!reading.stationId" v-model="reading.stationId" :options="stationIds" label="Station" error-message="Select station id" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKClick"
          />
          <q-btn
            color="primary"
            label="Cancel"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: "ReadingsIndex",
  data () {
    return {
      openDialog: false,
      reading: null,
      /* sensorModel: {
        UIDSensor: null,
        type: null,
        unitOfMeasure: null
      }, */
      stationIds:[],
      readingModel: {
        id: null,
        alarmTriggered: false,
        doorOpened: false,
        maskDetected: false,
        temperature: 0,
        stationId: null
      },
      isMounted: false,
      readings: [],
      pagination: {
        rowsPerPage: 30 // current rows per page being displayed
      },
      columns: [
        {
          name: "alarmTriggered",
          label: "Alarm triggered",
          align: "left",
          field: "alarmTriggered",
          sortable: true
        },
        {
          name: "doorOpened",
          label: "Door opened",
          align: "left",
          field: "doorOpened",
          sortable: true
        },
        {
          name: "maskDetected",
          label: "Mask detected",
          align: "left",
          field: "maskDetected",
          sortable: true
        },
        {
          name: "temperature",
          label: "Temperature",
          align: "left",
          field: "temperature",
          sortable: true,

        },
        {
          name: "stationId",
          label: "Station id",
          align: "left",
          field: "stationId",
          sortable: true,

        },
        {
          name: "timeStamp",
          label: "Timestamp",
          align: "left",
          field: "timeStamp",
          sortable: true,

        },
        /* ,{
          name: "confirmedBy",
          label: "Confirmed by",
          align: "left",
          field: "confirmedBy",
          sortable: true
        } */

        /* {
          name: "type",
          label: "Type",
          align: "left",
          field: "type",
          sortable: true
        },
        {
          name: "unitOfMeasure",
          label: "Unit of Measure",
          align: "left",
          field: "unitOfMeasure",
          sortable: true
        },*/
        {
          name: "actions",
          label: "Actions",
          align: "left",
          field: null,
          sortable: false
        }
      ]
    };
  },
  mounted: function () {
    this.refreshReadings();
    this.refreshStations();
    /*  let collectionRef = this.$db.collection("sensor");
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.sensors.push(row.data());
        });
        this.isMounted = true;
      }); */
  },
  methods: {
    refreshStations(){
      this.stationIds = [];
      let collectionRef = this.$db.collection("stations");
      collectionRef.get()
        .then((stations) => {
          stations.forEach(async (station) => {

            // console.log(station.id);
            //let stationFromDB = station.data();
            //stationFromDB.id = station.id;
            this.stationIds.push(station.id);
          });
          //this.isMounted = true;
        // console.log( this.stations);
        },
        console.log(this.stationIds)
        );
    },
    refreshReadings() {
      this.readings = [];
      let collectionRef = this.$db.collection("readings");
      collectionRef.get()
        .then((rows) => {
          rows.forEach((row) => {
            const newRow = row.data();
            newRow.id = row.id;
            this.readings.push(newRow);
          });
          this.isMounted = true;
        });
    },

    onNewRow () {
      this.reading = JSON.parse(JSON.stringify(this.readingModel));
      this.openDialog = true;
    },
    onOKClick () {
      if (!this.$refs["temperature"].hasError &&
        !this.$refs["stationId"].hasError) {
        let collectionRef = this.$db.collection("readings");
        if (this.reading.id === null) {
          this.reading.timeStamp = new Date();
          console.log(this.reading);
          collectionRef.add(this.reading)
            .then((/* doc */) => {
              this.refreshReadings();
              // this.sensor.UIDSensor = doc.id;
              // var docRef = this.$db.collection("sensor").doc(doc.id);
              // docRef.update({ UIDSensor: doc.id })
              //   .then(() => {
              //     this.sensor.UIDSensor = doc.id;
              //     this.sensors.push(this.sensor);
              this.openDialog = false;
              //   })
              //   .catch(function (error) {
              //     console.error("Error adding document: ", error);
              //   });
            })
            .catch(function (error) {
              console.error("Error adding document: ", error);
            });
        } else {
          var docRef = this.$db.collection("readings").doc(this.reading.id);
          docRef.set(this.reading)
            .then(() => {
              this.refreshReadings();
              /* let sensor = this.sensors.find(sensor => sensor.UIDSensor === this.sensor.UIDSensor);
              if (sensor) {
                for (const attributeName in this.sensor) {
                  sensor[attributeName] = JSON.parse(JSON.stringify(this.sensor[attributeName]));
                }
              } */
              this.openDialog = false;
            })
            .catch(function (error) {
              console.error("Error adding document: ", error);
            });
        }
      }
    },
    onCancelClick () {
      this.openDialog = false;
    },
    onUpdateRow (reading) {
      this.reading = JSON.parse(JSON.stringify(this.readingModel));
      for (const attributeName in this.reading) {
        this.reading[attributeName] = JSON.parse(JSON.stringify(reading[attributeName]));
      }
      this.openDialog = true;
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: "Delete",
        message: "Confirm deletion.",
        ok: true,
        cancel: true
      }).onOk(() => {
        let docRef = this.$db.collection("readings").doc(row.id);
        docRef.delete()
          .then(() => {
            this.refreshReadings();
            /* let index = this.sensors.findIndex(sensor => sensor.UIDSensor === row.UIDSensor);
            if (index >= 0) {
              this.sensors.splice(index, 1);
            } */
          }).catch((error) => {
            console.error("Error removing document: ", error);
          });
      });
    }
  }
};
</script>
