<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 900px"
    >
      <div class="q-pb-md">
        <q-btn
          color="primary"
          label="Add station"
          @click="onNewStation"
        />
      </div>
      <q-list bordered>
        <div
          v-for="(station, stationIndex) in stations"
          :key="station.UIDStation"
        >
          <q-expansion-item
            group="stations"
            :label="station.name"
            :default-opened="stationIndex === 0"
            header-class="bg-grey text-bold"
            dense
          >
            <q-card>
              <q-card-actions align="right">
                <q-btn
                  dense
                  color="primary"
                  icon="edit"
                  @click="onUpdateStation(station)"
                />
                <q-btn
                  dense
                  color="primary"
                  icon="delete"
                  @click="onDeleteStation(station)"
                />
              </q-card-actions>
              <q-separator />
              <q-card-section>
                <div class="row">
                  <div class="col-6 q-pr-xs">
                    <q-input
                      readonly
                      dense
                      label="Name"
                      v-model="station.name"
                    />
                    <q-input
                      readonly
                      dense
                      label="Description"
                      v-model="station.description"
                    />
                    <!-- <div class="row">
                      <div class="col">
                        <q-input
                          readonly
                          dense
                          label="Latitude"
                          v-model="station.geoPoint.Latitude"
                        />
                      </div>
                      <div class="col">
                        <q-input
                          readonly
                          dense
                          label="Longitude"
                          v-model="meteoStation.geoPoint.Longitude"
                        />
                      </div>
                    </div> -->
                     <q-input
                      readonly
                      dense
                      label="Location"
                      v-model="station.location"
                    />
                    <q-input
                      readonly
                      dense
                      label="ID meteo station"
                      v-model="station.id"
                    />

                  </div>
                  <div class="col-6 q-pl-xs">
                    <!-- <div class="text-center q-pa-xs">
                      <croppa
                        ref="croppa"
                        crossOrigin="anonymous"
                        :width="150"
                        :height="150"
                        :accept="'image/*'"
                        :prevent-white-space="true"
                        :placeholder-font-size="18"
                        :file-size-limit="1 * 1024 * 1024"
                        :quality="1"
                        :remove-button-color="'red'"
                        :remove-button-size="30"
                        placeholder="Choose image"
                        :disable-drag-to-move="!uploadButton"
                        v-model="station.photo"
                        :initial-image="meteoStation.urlImage?meteoStation.urlImage:initialImage?initialImage:null"
                        @image-remove="removeImage(meteoStation)"
                        @file-type-mismatch="onError('File type mismatch')"
                        @file-size-exceed="onError('File size exceed')"
                        @file-choose="uploadButton=true"
                      >
                      </croppa>
                      <q-btn
                        flat
                        color="primary"
                        v-if="uploadButton"
                        class="full-width"
                        @click="uploadCroppedImage(meteoStation)"
                        label="Set image"
                        icon="image"
                      />
                    </div> -->

                  </div>
                </div>
              </q-card-section>
             <!--  <q-card-section>
                <q-card
                  flat
                  bordered
                >
                  <q-card-section>
                    <div class="text-bold">
                      Sensors
                    </div>
                  </q-card-section>
                  <q-separator />
                  <q-card-section>
                    <div class="q-pb-md">
                      <q-btn
                        color="primary"
                        label="Add sensor"
                        @click="onNewMeteoStationSensor(station)"
                      />
                    </div>
                    <q-list bordered>
                      <div
                        v-for="(meteoStationSensor, meteoStationSensorIndex) in meteoStation.meteoStationSensors"
                        :key="meteoStationSensor.UIDMeteoStationSensor"
                      >
                        <q-expansion-item
                          group="meteoStationSensors"
                          :label="meteoStationSensor.sensor ? meteoStationSensor.description + ' [' + meteoStationSensor.sensor.type + ']': meteoStationSensor.description"
                          :default-opened="meteoStationSensorIndex === 0"
                          header-class="bg-blue-1 text-bold"
                          dense
                        >
                          <q-card>
                            <q-card-actions align="right">
                              <q-btn
                                dense
                                color="primary"
                                icon="edit"
                                @click="onUpdateMeteoStationSensor(meteoStation, meteoStationSensor)"
                              />
                              <q-btn
                                dense
                                color="primary"
                                icon="delete"
                                @click="onDeleteMeteoStationSensor(meteoStation, meteoStationSensor)"
                              />
                            </q-card-actions>
                            <q-separator />
                            <q-card-section>
                              <div class="row">
                                <div class="col-6 q-pr-xs">
                                  <q-input
                                    v-if="meteoStationSensor.sensor"
                                    label="Sensor"
                                    readonly
                                    dense
                                    v-model="meteoStationSensor.sensor.type"
                                  />
                                  <q-input
                                    label="Description"
                                    type="textarea"
                                    readonly
                                    dense
                                    v-model="meteoStationSensor.description"
                                  />
                                </div>
                                <div class="col-6 q-pl-xs">
                                  <div class="row">
                                    <div class="col">
                                      <q-input
                                        label="Lower limit"
                                        type="number"
                                        readonly
                                        dense
                                        v-model="meteoStationSensor.lowerLimit"
                                      />
                                    </div>
                                    <div class="col">
                                      <q-input
                                        label="Upper limit"
                                        type="number"
                                        readonly
                                        dense
                                        v-model="meteoStationSensor.upperLimit"
                                      />
                                    </div>
                                  </div>
                                  <q-input
                                    label="Sensor ID"
                                    readonly
                                    dense
                                    v-model="meteoStationSensor.IDSensor"
                                  />
                                </div>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </div>
                    </q-list>
                  </q-card-section>
                </q-card>
              </q-card-section> -->
            </q-card>
          </q-expansion-item>
          <q-separator />
        </div>
      </q-list>
    </div>
    <q-dialog
      v-if="openStationDialog"
      v-model="openStationDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Meteo station
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Name"
            :error="!station.name || station.name.length === 0"
            error-message="Name is required."
            label="Name"
            v-model="station.name"
          />
          <q-input
            label="Description"
            :error="!station.description || station.description.length === 0"
            type="textarea"
            ref="Description"
            v-model="station.description"
          />
           <q-input
            label="Location"
            :error="!station.location || station.location.length === 0"
            type="textarea"
            ref="Location"
            v-model="station.location"
          />
         <!--  <div class="row">
            <div class="col">
              <q-input
                ref="Latitude"
                :error="!station.geoPoint.Latitude && station.geoPoint.Latitude !== 0"
                error-message="Latitude is required."
                label="Latitude"
                type="number"
                v-model.number="meteoStation.geoPoint.Latitude"
              />
            </div>
            <div class="col">
              <q-input
                ref="Longitude"
                :error="!meteoStation.geoPoint.Longitude && meteoStation.geoPoint.Longitude !== 0"
                error-message="Longitude is required."
                label="Longitude"
                type="number"
                v-model.number="meteoStation.geoPoint.Longitude"
              />
            </div>
          </div> -->
        <!--   <q-input
            label="Meteo station ID"
            v-model="station.IDMeteoStation"
          /> -->
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKStationDialogClick"
          />
          <q-btn
            color="primary"
            label="Cancel"
            @click="onCancelStationDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- <q-dialog
      v-if="openMeteoStationSensorDialog"
      v-model="openMeteoStationSensorDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Sensor
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-select
            label="Sensor"
            dense
            v-model="meteoStationSensor.sensor"
            :options="sensors"
            option-value="UIDSensor"
            option-label="type"
          />
          <q-input
            label="Description"
            type="textarea"
            v-model="meteoStationSensor.description"
          />
          <div class="row">
            <div class="col">
              <q-input
                label="Lower limit"
                type="number"
                v-model.number="meteoStationSensor.lowerLimit"
              />
            </div>
            <div class="col">
              <q-input
                label="Upper limit"
                type="number"
                v-model.number="meteoStationSensor.upperLimit"
              />
            </div>
          </div>
          <q-input
            label="Sensor ID"
            v-model="meteoStationSensor.IDSensor"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKMeteoStationSensorDialogClick"
          />
          <q-btn
            color="primary"
            label="Cancel"
            @click="onCancelMeteoStationSensorDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog> -->
  </div>
</template>
<script>
//import { component as croppa } from "vue-croppa";

export default {
  name: "StationsIndex",
  components: {
    //croppa
  },
  data () {
    return {
      isMounted: false,
      openStationDialog: false,
      openMeteoStationSensorDialog: false,
      stations: [],
      station: null,
      stationModel: {
        // id: null,
        /*  geoPoint: {
          Latitude: null,
          Longitude: null
        }, */
        id:null,
        name: null,
        description: null,
        // urlImage: null,
        location: null
      },
      currentMeteoStation: null,
      meteoStationSensor: null,
      meteoStationSensorModel: {
        UIDMeteoStation: null,
        UIDMeteoStationSensor: null,
        sensor: null,
        description: null,
        lowerLimit: null,
        upperLimit: null,
        IDSensor: null
      },
      uploadButton: false,
      initialImage: null,
      sensors: []
    };
  },
  mounted: async function () {
    this.refreshStations();

  },

  /*   mounted: async function () {
    let collectionRef = this.$db.collection("meteostation");
    await collectionRef.get()
      .then((meteoStations) => {
        meteoStations.forEach(async (meteoStation) => {
          let meteoStationFromDB = meteoStation.data();
          this.$set(meteoStationFromDB, "meteoStationSensors", []);
          this.$set(meteoStationFromDB, "photo", {});
          let subCollectionRef = collectionRef.doc(meteoStation.data().UIDMeteoStation).collection("meteostationsensor");
          await subCollectionRef.get()
            .then((meteoStationSensors) => {
              let meteoStationSensorsFromDB = [];
              meteoStationSensors.forEach((meteoStationSensor) => {
                meteoStationSensorsFromDB.push(meteoStationSensor.data());
              });
              meteoStationFromDB.meteoStationSensors = meteoStationSensorsFromDB;
              this.meteoStations.push(meteoStationFromDB);
              this.isMounted = true;
            });
        });
      });
    collectionRef = this.$db.collection("sensor");
    collectionRef.get()
      .then((sensors) => {
        sensors.forEach((sensor) => {
          this.sensors.push(sensor.data());
        });
      });
  }, */
  methods: {
    onNewStation () {
      this.station = JSON.parse(JSON.stringify(this.stationModel));
      this.openStationDialog = true;
    },
    refreshStations(){
      this.stations = [];
      let collectionRef = this.$db.collection("stations");
      collectionRef.get()
        .then((stations) => {
          stations.forEach(async (station) => {

            // console.log(station.id);
            let stationFromDB = station.data();
            stationFromDB.id = station.id;
            this.stations.push(stationFromDB);
          });
          this.isMounted = true;
        // console.log( this.stations);
        }
        );


    },
    onNewMeteoStationSensor (station) {
      this.currentMeteoStation = station;
      this.meteoStationSensor = JSON.parse(JSON.stringify(this.meteoStationSensorModel));
      this.meteoStationSensor.UIDMeteoStation = this.currentMeteoStation.UIDMeteoStation;
      this.openMeteoStationSensorDialog = true;
    },
    onOKStationDialogClick () {
      if (!this.$refs["Name"].hasError &&
        !this.$refs["Description"].hasError &&
        !this.$refs["Location"].hasError) {
        let collectionRef = this.$db.collection("stations");
        if (this.station.id === null) {
          collectionRef.add(this.station)
            .then((/* doc */) => {
              this.refreshStations();
              //var docRef = this.$db.collection("meteostation").doc(doc.id);
              //docRef.update({ UIDMeteoStation: doc.id })
              //  .then((/* response */) => {
              //    this.meteoStation.UIDMeteoStation = doc.id;
              //    this.$set(this.meteoStation, "meteoStationSensors", []);
              //    this.meteoStations.push(this.meteoStation);
              this.openStationDialog = false;
              //  })
              //  .catch(function (error) {
              //    console.error("Error adding document: ", error);
              //  });
            })
            .catch(function (error) {
              console.error("Error adding document: ", error);
            });
        } else {
          var docRef = this.$db.collection("stations").doc(this.station.id);
          docRef.set(this.station)
            .then((/* response */) => {
              this.refreshStations();
              /* let meteoStation = this.meteoStations.find(meteoStation => meteoStation.UIDMeteoStation === this.meteoStation.UIDMeteoStation);
              if (meteoStation) {
                for (const attributeName in this.meteoStation) {
                  meteoStation[attributeName] = JSON.parse(JSON.stringify(this.meteoStation[attributeName]));
                }
              } */
              this.openStationDialog = false;
            })
            .catch(function (error) {
              console.error("Error adding document: ", error);
            });
        }
      }
    },
    /*    onOKMeteoStationSensorDialogClick () {
      let collectionRef = this.$db.collection("meteostation").doc(this.currentMeteoStation.UIDMeteoStation).collection("meteostationsensor");
      if (this.meteoStationSensor.UIDMeteoStationSensor === null) {
        collectionRef.add(this.meteoStationSensor)
          .then((doc) => {
            var docRef = collectionRef.doc(doc.id);
            docRef.update({ UIDMeteoStationSensor: doc.id })
              .then(() => {
                this.meteoStationSensor.UIDMeteoStationSensor = doc.id;
                this.currentMeteoStation.meteoStationSensors.push(this.meteoStationSensor);
                this.openMeteoStationSensorDialog = false;
              })
              .catch(function (error) {
                console.error("Error adding document: ", error);
              });
          })
          .catch(function (error) {
            console.error("Error adding document: ", error);
          });
      } else {
        var docRef = this.$db.collection("meteostation").doc(this.currentMeteoStation.UIDMeteoStation).collection("meteostationsensor").doc(this.meteoStationSensor.UIDMeteoStationSensor);
        docRef.set(this.meteoStationSensor)
          .then(() => {
            let meteoStationSensor = this.currentMeteoStation.meteoStationSensors.find(meteoStationSensor => meteoStationSensor.UIDMeteoStationSensor === this.meteoStationSensor.UIDMeteoStationSensor);
            if (meteoStationSensor) {
              for (const attributeName in this.meteoStationSensor) {
                meteoStationSensor[attributeName] = JSON.parse(JSON.stringify(this.meteoStationSensor[attributeName]));
              }
            }
            this.openMeteoStationSensorDialog = false;
          })
          .catch(function (error) {
            console.error("Error adding document: ", error);
          });
      }
    }, */
    onCancelStationDialogClick () {
      this.openStationDialog = false;
    },
    /*  onCancelMeteoStationSensorDialogClick () {
      this.openMeteoStationSensorDialog = false;
    }, */
    onUpdateStation (station) {

      this.station = JSON.parse(JSON.stringify(this.stationModel));
      for (const attributeName in this.station) {
        this.station[attributeName] = JSON.parse(JSON.stringify(station[attributeName]));
      }
      this.openStationDialog = true;
    },
    /*  onUpdateMeteoStationSensor (meteoStation, meteoStationSensor) {
      this.currentMeteoStation = meteoStation;
      this.meteoStationSensor = JSON.parse(JSON.stringify(this.meteoStationSensorModel));
      for (const attributeName in this.meteoStationSensor) {
        this.meteoStationSensor[attributeName] = JSON.parse(JSON.stringify(meteoStationSensor[attributeName]));
      }
      this.openMeteoStationSensorDialog = true;
    }, */
    /* onDeleteMeteoStation (row) {
      this.$q.dialog({
        title: "Delete",
        message: "Confirm deletion.",
        ok: true,
        cancel: true
      }).onOk(() => {
        let docRef = this.$db.collection("meteostation").doc(row.UIDMeteoStation);
        row.meteoStationSensors.forEach((meteoStationSensor) => {
          docRef.collection("meteostationsensor").doc(meteoStationSensor.UIDMeteoStationSensor).delete()
            .then(() => {
              console.log("Document in subcollection deleted: ", meteoStationSensor.UIDMeteoStationSensor);
            }).catch(error => {
              console.error("Error deleting document in subcollection: ", error);
            });
        });
        docRef.delete()
          .then(() => {
            let index = this.meteoStations.findIndex(meteoStation => meteoStation.UIDMeteoStation === row.UIDMeteoStation);
            if (index >= 0) {
              this.meteoStations.splice(index, 1);
            }
            if (row.urlImage) {
              let storageRef = this.$storage.ref();
              let imageRef = storageRef.child(row.UIDMeteoStation);
              imageRef.delete().then(() => {
              }).catch((error) => {
                console.error("Error deleting image: ", error);
              });
            }
          }).catch((error) => {
            console.error("Error removing document: ", error);
          });
      });
    }, */
    onDeleteStation (row) {
      this.$q.dialog({
        title: "Delete",
        message: "Confirm deletion.",
        ok: true,
        cancel: true
      }).onOk(() => {
        let docRef = this.$db.collection("stations").doc(row.id);
        /*  row.meteoStationSensors.forEach((meteoStationSensor) => {
          docRef.collection("meteostationsensor").doc(meteoStationSensor.UIDMeteoStationSensor).delete()
            .then(() => {
              console.log("Document in subcollection deleted: ", meteoStationSensor.UIDMeteoStationSensor);
            }).catch(error => {
              console.error("Error deleting document in subcollection: ", error);
            });
        }); */
        docRef.delete()
          .then(() => {
            this.$q.notify({
              message: "Station deleted",
              icon: "warning",
              color: "negative",
              position: "bottom",
              timeout: 3000
            });
            this.refreshStations();
            /* let index = this.meteoStations.findIndex(meteoStation => meteoStation.UIDMeteoStation === row.UIDMeteoStation);
            if (index >= 0) {
              this.meteoStations.splice(index, 1);
            }
            if (row.urlImage) {
              let storageRef = this.$storage.ref();
              let imageRef = storageRef.child(row.UIDMeteoStation);
              imageRef.delete().then(() => {
              }).catch((error) => {
                console.error("Error deleting image: ", error);
              });
            } */
          }).catch((error) => {
            console.error("Error removing document: ", error);
          });
      });
    },
    /*   onDeleteMeteoStationSensor (meteoStation, row) {
      this.$q.dialog({
        title: "Delete",
        message: "Confirm deletion.",
        ok: true,
        cancel: true
      }).onOk(() => {
        let docRef = this.$db.collection("meteostation").doc(meteoStation.UIDMeteoStation).collection("meteostationsensor").doc(row.UIDMeteoStationSensor);
        docRef.delete()
          .then(() => {
            let index = meteoStation.meteoStationSensors.findIndex(meteoStationSensor => meteoStationSensor.UIDMeteoStationSensor === row.UIDMeteoStationSensor);
            if (index >= 0) {
              meteoStation.meteoStationSensors.splice(index, 1);
            }
          }).catch((error) => {
            console.error("Error removing document: ", error);
          });
      });
    }, */
    onError (errorMessage) {
      this.uploadButton = false;
      this.$q.notify({
        message: errorMessage,
        icon: "warning",
        color: "negative",
        position: "bottom",
        timeout: 3000
      });
    },
    /*  uploadCroppedImage (meteoStation) {
      if (!meteoStation.photo.hasImage()) {
        alert("no image to upload");
        return;
      }
      meteoStation.photo.generateBlob(
        blob => {
          console.log(blob);
          if (blob) {
            console.log("uploadCroppedImage");
            let storageRef = this.$storage.ref();
            let imageRef = storageRef.child(meteoStation.UIDMeteoStation);
            imageRef.put(blob)
              .then((snapshot) => {
                snapshot.ref.getDownloadURL()
                  .then((downloadURL) => {
                    var docRef = this.$db.collection("meteostation").doc(meteoStation.UIDMeteoStation);
                    docRef.update({ urlImage: downloadURL })
                      .then(() => {
                        meteoStation.urlImage = downloadURL;
                        this.initialImage = null;
                        this.uploadButton = false;
                      })
                      .catch(function (error) {
                        console.error("Error adding document: ", error);
                      });
                  })
                  .catch(error => {
                    console.error("Get download URL: ", error);
                  });
              })
              .catch((error) => {
                console.error("Uploading file: ", error);
              });
          } else {
            this.onError("File type mismatch");
          }
        },
        "image/jpeg",
        0.8
      ); // 80% compressed jpeg file
    }, */
    /*  removeImage (meteoStation) {
      this.uploadButton = false;
      if (meteoStation.urlImage) {
        let storageRef = this.$storage.ref();
        let imageRef = storageRef.child(meteoStation.UIDMeteoStation);
        imageRef.delete().then(() => {
          var docRef = this.$db.collection("meteostation").doc(meteoStation.UIDMeteoStation);
          docRef.update({ urlImage: null })
            .then(() => {
              meteoStation.urlImage = null;
            })
            .catch((error) => {
              console.error("Error adding document: ", error);
            });
        }).catch((error) => {
          console.error("Error deleting image: ", error);
        });
      }
    } */
  }
};
</script>
