<template>
  <div
    class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <div style="font-size: 30vh">
        404
      </div>

      <div class="text-h2" style="opacity:.4">
        Oops. Nothing here...
      </div>

      <q-btn
        class="q-mt-xl"
        color="white"
        text-color="blue"
        unelevated
        to="/"
        label="Go Home"
        no-caps
        @click="goHome"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Error404",
  methods: {
    goHome () {
      this.$router.push("/welcome");
    }

  }
};
</script>
