<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        <q-toolbar-title>
          CovProtectSystem
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        <q-item clickable to="/readings">
          <q-item-section avatar>
            <q-icon name="settings_input_antenna" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Readings</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/Stations">
          <q-item-section avatar>
            <q-icon name="router" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Stations</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable @click="map">
          <q-item-section avatar>
            <q-icon name="map" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Map</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable @click="logout">
          <q-item-section avatar>
            <q-icon name="power_settings_new" />
          </q-item-section>
          <q-item-section>
            <q-item-label>LogOut</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
export default {
  name: "CovProtectSystemLayout",
  data() {
    return {
      leftDrawerOpen: false
    };
  },
  methods: {
    logout() {
      this.$auth.signOut().then(() => {
        this.$router.push("/login");
      });
    },
    map() {
      this.$router.push("/welcome");
    }
  }
};
</script>
